---
Checks: "*,
        -abseil-*,
        -fuchsia-*,
        -llvmlibc-*,
        -zircon-*,
        -android-cloexec-fopen,
        -bugprone-easily-swappable-parameters,
        -readability-identifier-length,
        -altera-unroll-loops,
        -misc-include-cleaner,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -cppcoreguidelines-avoid-non-const-global-variables
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
